body {
    padding: 80px 20px;
    background-color: #ececf4;
    font-family: "Ubuntu", sans-serif;
}

.container {
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 10px;
}

.navbar-fixed-top {
    background-color: #d32026;
    border-color: black;
    border-width: 0px 0px 5px;
}

.navbar-fixed-bottom {
    background-color: #d32026;
    border-color: black;
    border-width: 5px 0px 0px;
    /*height: 20px;*/
}


.navbar .navbar-brand {
    color: white;
    font-weight: 500;
}

.navbar .navbar-text, .navbar .navbar-link {
    color: whitesmoke;
}

.row label {
    margin: 0px 10px 10px;
    width: 100%;
    font-size: 120%;
}

.row input, .row select, .row button {
    margin: 4px 0px;
    font-weight: normal;
}

.blockbox {
    display: block;
    width: 100%;
    min-width: 34px;
    height: 34px;
    box-shadow: none;
}

.centered {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.toggle-img {
    cursor: pointer;
    /*max-height: 130px;*/
    max-width: 100%;
    margin: 5px;
}

.not-selected {
    opacity: 0.3;
}

.btn-container {
    display: flex;
    margin-top: 10px;
    padding: 0px;
}

.btn-calc {
    margin: 15px 10px 0px;
    flex-grow: 1;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

.clear-label {
    color: rgba(0, 0, 0, 0);
}

.check-img {
    cursor: pointer;
    display: block;
    width: 34px;
    height: 34px;
    margin: 4px auto 0px;
}

.logo {
    display: inline-block !important;
    width: 24px;
    height: auto;
    margin-right: 10px;
}

.results {
    margin: 15px 20px;
}
.table * {
    text-align: center;
}

.error-message {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-image: url("../img/favicon.png");
}

.donate-btn {
    position: relative;
    bottom: 4px;
    margin-left: 10px;
}
