<html>
    <head>
        <script type="text/javascript" src="assets/libs/Blob.js"></script>
        <script type="text/javascript" src="assets/libs/FileSaver.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular.js"></script>
        <script type="text/javascript" src="assets/libs/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular-animate.min.js"></script>
        <script type="text/javascript" src="assets/libs/ui-bootstrap-2.1.3.min.js"></script>
        <script type="text/javascript" src="assets/libs/js.cookie.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="app/app.module.js"></script>
        <script type="text/javascript" src="app/app.routes.js"></script>
        <script type="text/javascript" src="app/components/calc/calc.controller.js"></script>
        <script type="text/javascript" src="app/components/advanced/advanced.controller.js"></script>
        <script type="text/javascript" src="app/factories/gameData.factory.js"></script>
        <script type="text/javascript" src="app/factories/calcData.factory.js"></script>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/flags.css" />
        <link rel="stylesheet" href="assets/css/app.css" />
        <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
        <title>PoGOBin IV Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="PoGOBin - Pok&eacute;mon GO IV Calculator">
        <meta name="keywords" content="PoGOBin, Pok&eacute;mon, Pokemon, GO, IV, Calculator, Niantic">
        <meta name="author" content="Maianne Ribeiro">
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content=""/>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-83158153-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body ng-app="pogoApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="assets/img/pokeball.png" class="logo" />PoGOBin IV Calculator</a>
            </div>
        </nav>
        <div class="container">
            <div ng-view></div>
            <div class="row collapsible" ng-init="collapseChangelog = true">
                <label>
                    <a ng-click="collapseChangelog = !collapseChangelog">Changelog
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="collapseChangelog"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!collapseChangelog"></span></a>
                </label>
                <div class="col-md-12 col-sm-12" uib-collapse="collapseChangelog">
                    <div class="card card-block">
                        <ul>
                            <li> 2.2 - Fields clear on Pokémon change, Advanced Data shows info on all evolutions, Advanced Data by name</li>
                            <li> 2.1 - Updated moveset data post-Gen2 launch. Added energy info on Advanced tab and Advanced info by number.</li>
                            <li> 2.0 - Added Advanced Data page, with extra information like Max HP/CP, Max Evolved HP/CP and Moveset info.</li>
                            <li> 1.9 - Added Gen2 data (only babies show on the list for now, but all the data is there!), added partial KR translation - help with the leaders' feedback lines would be very welcome</li>
                            <li> 1.8 - Changed base stats, added some text to make calculation clearer.</li>
                            <li> 1.7.1 - Refine now updates main form data to allow refinement refines(yo, I heard...), added tabindex to all checks, minor text fixes </li>
                            <li> 1.7 - Added Refine IV option, and sprites on the Pok&eacute;mon name input </li>
                            <li> 1.6 - Added ES translations to leaders' feedback, removed the dreaded "Clear Team" button, adjusted spacing to fit thinner screens, added dropdown navigation with up/down arrows, accept name on tab and enter, added min/average/max IV </li>
                            <li> 1.5 - Added IT translations to leaders' feedback, fixed a bug on the Pokémon list </li>
                            <li> 1.4 - Fixed a bug with typing the Pok&eacute;mon's name instead of selecting, added DE and FR translations to leaders' feedback, added Instructions, changed Changelog and Credits' design </li>
                            <li> 1.3 - Fixed AdSense, added DE and FR Pok&eacute;mon names support, changed name dropdown to input with list </li>
                            <li> 1.2 - Added AdSense and Donate Button </li>
                            <li> 1.1 - Design fixes, added Export Data option, Credits and Source </li>
                            <li> 1.0 - First Launch </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row collapsible" ng-init="collapseCredits = true">
                <label>
                    <a ng-click="collapseCredits = !collapseCredits">Credits
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="collapseCredits"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!collapseCredits"></span></a>
                </label>
                <div class="col-md-12 col-sm-12" uib-collapse="collapseCredits">
                    <div class="card card-block">
                        <ul>
                            <li><a href="https://thesilphroad.com/research">TheSilphRoad</a> for Base Stats and Moveset data;</li>
                            <li><a href="http://pokemongo.gamepress.gg/">Pok&eacute;mon GO Game Press</a> for the Stardust table and Leaders' Appraisal Lines;</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4t7xb4/exact_cp_formula_from_stats_and_cpm_and_an_update/">/r/__isitin__</a> for CP formula and CPM table;</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4t59t1/decoded_game_master_protobuf_file_v01_all_pokemon/d5f2y91">/u/a1k0n</a> for the formatted CPM array.</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4zkngn/i_made_an_iv_calculator_that_uses_the_leaders/d6xd88m?context=3">/u/Selfron</a> for linking me to <a href="https://www.reddit.com/r/TheSilphRoad/comments/4zdwn5/german_appraisalbewertung/">TheSilphRoad's list of DE leaders' feedback lines</a>.</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4zkngn/i_made_an_iv_calculator_that_uses_the_leaders/d6xdlk8?context=3">/u/LeFugu</a> for the FR leaders' feedback lines.</li>
                            <li><a href="https://www.reddit.com/r/pokemongo/comments/4zkktg/i_made_an_iv_calculator_that_uses_the_leaders/d6xhus7?context=3">/u/Oneiros90</a> for the formatted json with the IT leaders' feedback lines.</li>
                            <li><a href="https://www.reddit.com/r/pokemongo/comments/4zkktg/i_made_an_iv_calculator_that_uses_the_leaders/d6ymxzj?context=3">/u/Sr_GMC</a> for the ES leaders' feedback lines.</li>
                            <li><a href="https://github.com/IllDepence">IllDepence</a> for the JP Pok&eacute;mon names and leaders' feedback lines.</li>
                            <li><a href="https://github.com/joaoprp">Joe</a> for helping me add a couple features here and there, and for being a supportive husband.</li>
                            <li><a href="https://github.com/sbryan">sbryan</a> for the updated base stats after the 2016-11-21 server side update.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="source pull-left">
                    Source code can be found on <a href="https://github.com/BoredMai/PokemonGOIVCalculator">GitHub</a>. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="pull-left donate-btn">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="A5E7GQ6BV6V4L">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="row">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- PoGo Calculator -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7688135019046353"
                     data-ad-slot="1730384973"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
              <p class="navbar-text pull-left">Made by BoredMai</p>
              <p class="navbar-text pull-right"><a href="mailto:nannesribeiro@gmail.com" class="navbar-link  pull-right">Found a bug? Feedback?</a></p>
          </div>
        </nav>
    </body>
</html>
