<html>
    <head>
        <script type="text/javascript" src="./js/Blob.js"></script>
        <script type="text/javascript" src="./js/FileSaver.min.js"></script>
        <script type="text/javascript" src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-animate.min.js"></script>
        <script type="text/javascript" src="./js/ui-bootstrap-2.1.3.min.js"></script>
        <script type="text/javascript" src="./js/inputDropdown.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/flags.css" />
        <link rel="stylesheet" href="./css/inputDropdownStyles.css" />
        <link rel="stylesheet" href="./css/app.css" />
        <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
        <title>PoGOBin IV Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="PoGOBin - Pok&eacute;mon GO IV Calculator">
        <meta name="keywords" content="PoGOBin, Pok&eacute;mon, Pokemon, GO, IV, Calculator, Niantic">
        <meta name="author" content="Maianne Ribeiro">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-83158153-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="./img/pokeball.png" class="logo" />PoGOBin IV Calculator</a>
            </div>
        </nav>
        <div class="container" ng-app="PoGOApp" ng-controller="PoGOController" ng-focus="pokemonInputChanged = false">
            <div class="row collapsible">
                <label>
                    <a ng-click="collapseHelp = !collapseHelp">Instructions
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="collapseHelp"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!collapseHelp"></span></a>
                </label>
                <div class="col-md-12 col-sm-12" uib-collapse="collapseHelp">
                    <div class="card card-block">
                        <ul>
                            <li>Input your Pok&eacute;mon's name, CP and HP value.</li>
                            <li>Input how much Stardust your Pok&eacute;mon needs to Power Up.</li>
                            <li>If you already Powered Up your Pok&eacute;mon, check this to include half-levels.</li>
                            <li>Optionally, you can click a Team Logo to add Appraisal data. Select the correct phrases and check the boxes that correspond to your Pok&eacute;mon's highest stats, based on leader feedback.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label>Pok&eacute;mon&nbsp;&nbsp;&nbsp;&nbsp;
                        <a ng-click="switchLanguage('en')"><img ng-class="{'not-selected' : language != 'en'}" src="./img/blank.png" class="flag flag-gb" /></a>&nbsp;&nbsp;
                        <a ng-click="switchLanguage('de')"><img ng-class="{'not-selected' : language != 'de'}" src="./img/blank.png" class="flag flag-de" /></a>&nbsp;&nbsp;
                        <a ng-click="switchLanguage('fr')"><img ng-class="{'not-selected' : language != 'fr'}" src="./img/blank.png" class="flag flag-fr" /></a>&nbsp;&nbsp;
                        <a ng-click="switchLanguage('it')"><img ng-class="{'not-selected' : language != 'it'}" src="./img/blank.png" class="flag flag-it" /></a>&nbsp;&nbsp;
                        <a ng-click="switchLanguage('es')"><img ng-class="{'not-selected' : language != 'es'}" src="./img/blank.png" class="flag flag-es" /></a>&nbsp;&nbsp;
                        <!-- <a ng-click="switchLanguage('jp')"><img src="./img/blank.png" class="flag flag-jp" /></a>&nbsp;&nbsp; -->
                        <!-- <a ng-click="switchLanguage('kr')"><img src="./img/blank.png" class="flag flag-kr" /></a> -->
                        <input class="form-control" data-toggle="dropdown" ng-model="pokemonName" type="text" ng-change="filterList()" ng-focus="inputHasFocus = true" ng-blur="inputHasFocus = false; checkPokemonName()" ng-keydown="checkDropdownNavigation($event)" />
                        <ul class="dropdown-menu" ng-init="focusedItem = -1" ng-show="pokemonInputChanged && inputHasFocus">
                            <li ng-repeat="p in filteredList" ng-mouseover="focusItem($index)" ng-class="{'active-item': focusedItem == $index, 'inactive-item': focusedItem != $index}"><a ng-mousedown="selectPokemon(p)">{{p.name}}</a></li>
                        </ul>
                    </label>

                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <label>CP<input class="form-control" ng-model="cp" type="number" placeholder="CP" /></label>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <label>HP<input class="form-control" ng-model="hp" type="number" placeholder="HP" /></label>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <label>Stardust
                        <select class="form-control" ng-model="stardust">
                            <option ng-repeat="d in dustValues" ng-value="$index">{{d}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                    <label>Powered Up<img class="check-img" src="./img/pokeball.png" ng-class="{'not-selected' : !poweredup}" ng-click="toggleCheck('poweredup')" /></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-4 text-center">
                    <img src="./img/valor/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': team != teams[language][0]}" ng-click="selectTeam(0);" />
                </div>
                <div class="col-sm-4 col-xs-4 text-center">
                    <img src="./img/mystic/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': team != teams[language][1]}" ng-click="selectTeam(1);" />
                </div>
                <div class="col-sm-4 col-xs-4 text-center">
                    <img src="./img/instinct/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': team != teams[language][2]}" ng-click="selectTeam(2);" />
                </div>
            </div>
            <div class="row" ng-show="team">
                <div class="col-sm-6">
                    <label>{{team.title}}<span ng-show="pokemonData"> {{pokemonName}}...</span><select class="form-control" ng-model="overall" ng-options="o.text for o in team.overall"></select></label>
                </div>
                <div class="col-sm-6">
                    <label>Stats Feedback<select class="form-control" ng-model="stats" ng-options="s.text for s in team.stats"></select></label>
                </div>
                <div class="col-sm-4 col-sm-offset-4 stats-toggle">
                    <div class="text-center">
                        <label>HP
                            <img class="check-img" src="./img/pokeball.png" ng-class="{'not-selected' : !highHP}" ng-click="toggleCheck('highHP')" />
                        </label>
                    </div>
                    <div class="text-center">
                        <label>ATK
                            <img class="check-img" src="./img/pokeball.png" ng-class="{'not-selected' : !highATK}" ng-click="toggleCheck('highATK')" />
                        </label>
                    </div>
                    <div class="text-center">
                        <label>DEF
                            <img class="check-img" src="./img/pokeball.png" ng-class="{'not-selected' : !highDEF}" ng-click="toggleCheck('highDEF')" />
                        </label>
                    </div>
                </div>
                <!-- <div class="col-sm-3 col-xs-6">
                    <label class="clear-label">Clear Team<button class="btn btn-danger btn-block" ng-click="clearTeam()">Clear Team</button></label>
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12 btn-container">
                    <button class="btn btn-primary btn-lg btn-calc" ng-click="calculateIV()">Calculate</button>
                </div>
            </div>
            <div class="error-message" ng-show="!results || results.stats.length == 0"><big><b>Oops!</b></big>&nbsp;&nbsp;<small>There might be something wrong with your input.<span ng-show="!poweredup"> Try checking the "Powered Up" option to include half-level status.</span></small></div>
            <div class="results" ng-show="results && results.stats.length > 0">
                <div class="row">
                    <div class="col-sm-4 col-xs-4 text-center">
                        <label>Min IV <p class="form-control-static">{{results.minIV}}/45 ({{(results.minIV/0.45).toFixed(1)}}%)</p></label>
                    </div>
                    <div class="col-sm-4 col-xs-4 text-center">
                        <label>Avg IV <p class="form-control-static">{{results.avgIV}}/45 ({{(results.avgIV/0.45).toFixed(1)}}%)</p></label>
                    </div>
                    <div class="col-sm-4 col-xs-4 text-center">
                        <label>Max IV <p class="form-control-static">{{results.maxIV}}/45 ({{(results.maxIV/0.45).toFixed(1)}}%)</p></label>
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>
                            <a ng-click="setOrderByParams('level')">Level</a>
                            <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="orderParams == 'level' && reverse"></span>
                            <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="orderParams == 'level' && !reverse"></span>
                        </th>
                        <th>
                            <a ng-click="setOrderByParams('HP')">HP</a>
                            <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="orderParams == 'HP' && reverse"></span>
                            <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="orderParams == 'HP' && !reverse"></span>
                        </th>
                        <th>
                            <a ng-click="setOrderByParams('ATK')">Attack</a>
                            <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="orderParams == 'ATK' && reverse"></span>
                            <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="orderParams == 'ATK' && !reverse"></span>
                        </th>
                        <th>
                            <a ng-click="setOrderByParams('DEF')">Defence</a>
                            <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="orderParams == 'DEF' && reverse"></span>
                            <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="orderParams == 'DEF' && !reverse"></span>
                        </th>
                        <th>
                            <a ng-click="setOrderByParams('total')">Total</a>
                            <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="orderParams == 'total' && reverse"></span>
                            <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="orderParams == 'total' && !reverse"></span>
                        </th>
                    </tr>
                    <tr class="text-center" ng-repeat="r in results.stats | orderBy:orderParams:reverse">
                        <td>{{r.level}}</td>
                        <td>{{r.HP}}</td>
                        <td>{{r.ATK}}</td>
                        <td>{{r.DEF}}</td>
                        <td>{{r.total}}/45 ({{(r.total/0.45).toFixed(1)}}%)</td>
                    </tr>
                </table>
                <button class="btn btn-success btn-lg pull-right" ng-click="exportData()">Export Data</button>
            </div>
            <div class="row collapsible">
                <label>
                    <a ng-click="collapseChangelog = !collapseChangelog">Changelog
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="collapseChangelog"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!collapseChangelog"></span></a>
                </label>
                <div class="col-md-12 col-sm-12" uib-collapse="collapseChangelog">
                    <div class="card card-block">
                        <ul>
                            <li> 1.6 - Added ES translations to leaders' feedback, removed the dreaded "Clear Team" button, adjusted spacing to fit thinner screens, added dropdown navigation with up/down arrows, accept name on tab and enter, added min/average/max IV </li>
                            <li> 1.5 - Added IT translations to leaders' feedback, fixed a bug on the Pokémon list </li>
                            <li> 1.4 - Fixed a bug with typing the Pok&eacute;mon's name instead of selecting, added DE and FR translations to leaders' feedback, added Instructions, changed Changelog and Credits' design </li>
                            <li> 1.3 - Fixed AdSense, added DE and FR Pok&eacute;mon names support, changed name dropdown to input with list </li>
                            <li> 1.2 - Added AdSense and Donate Button </li>
                            <li> 1.1 - Design fixes, added Export Data option, Credits and Source </li>
                            <li> 1.0 - First Launch </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row collapsible">
                <label>
                    <a ng-click="collapseCredits = !collapseCredits">Credits
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="collapseCredits"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!collapseCredits"></span></a>
                </label>
                <div class="col-md-12 col-sm-12" uib-collapse="collapseCredits">
                    <div class="card card-block">
                        <ul>
                            <li><a href="https://thesilphroad.com/research">TheSilphRoad</a> for the Base Stats data;</li>
                            <li><a href="http://pokemongo.gamepress.gg/">Pok&eacute;mon GO Game Press</a> for the Stardust table and Leaders' Appraisal Lines;</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4t7xb4/exact_cp_formula_from_stats_and_cpm_and_an_update/">/r/__isitin__</a> for CP formula and CPM table;</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4t59t1/decoded_game_master_protobuf_file_v01_all_pokemon/d5f2y91">/u/a1k0n</a> for the formatted CPM array.</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4zkngn/i_made_an_iv_calculator_that_uses_the_leaders/d6xd88m?context=3">/u/Selfron</a> for linking me to <a href="https://www.reddit.com/r/TheSilphRoad/comments/4zdwn5/german_appraisalbewertung/">TheSilphRoad's list of DE leaders' feedback lines</a>.</li>
                            <li><a href="https://www.reddit.com/r/pokemongodev/comments/4zkngn/i_made_an_iv_calculator_that_uses_the_leaders/d6xdlk8?context=3">/u/LeFugu</a> for the FR leaders' feedback lines.</li>
                            <li><a href="https://www.reddit.com/r/pokemongo/comments/4zkktg/i_made_an_iv_calculator_that_uses_the_leaders/d6xhus7?context=3">/u/Oneiros90</a> for the formatted json with the IT leaders' feedback lines.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="source pull-left">
                    Source code can be found on <a href="https://github.com/BoredMai/PokemonGOIVCalculator">GitHub</a>. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="pull-left donate-btn">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="A5E7GQ6BV6V4L">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="row">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- PoGo Calculator -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7688135019046353"
                     data-ad-slot="1730384973"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
              <p class="navbar-text pull-left">Made by BoredMai</p>
              <p class="navbar-text pull-right"><a href="mailto:nannesribeiro@gmail.com" class="navbar-link  pull-right">Found a bug?</a></p>
          </div>
        </nav>
    </body>
</html>
