<div id="advanced-view" class="text-center" ng-controller="AdvancedController as vm">
    <div class="loader" ng-show="vm.showLoader">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="disclaimer alert alert-warning">
        <h4>Help with move names</h4>
        I only have the english move names, so if you have the official translation for the moves in your language, please compile it into a single file and send it over. It will be much appreciated!
    </div>
    <h2>Advanced Data</h2>
    <br/>
    <div class="data-container">
        <div class="basic-info">
            <div class="grey-border">
                <img class="pokemon-img" ng-src="{{'./assets/img/sprites/' + vm.baseData.imgIndex + 'MS.png'}}"></img>
            </div>
            <div class="name-col grey-border">
                <p class="big-text">{{vm.pokemonData.name}}</p>
                <div class="img-wrapper">
                    <img class="type-img" ng-repeat="type in vm.pokemonData.TYPE" ng-src="{{'./assets/img/types/' + type + '.png'}}"></img>
                </div>
            </div>
        </div>
        
        <div class="grey-border">
            <div class="col-xs-4">
                <p class="label-text">Level</p>
                <p>{{vm.baseData.level}}</p>
            </div>
            <div class="col-xs-4">
                <p class="label-text">HP</p>
                <p>{{vm.baseData.hp}}</p>
            </div>
            <div class="col-xs-4">
                <p class="label-text">CP</p>
                <p>{{vm.baseData.cp}}</p>
            </div>
        </div>

        <p class="label-text">IVs</p>
        <div class="grey-border">
            <div class="col-xs-4">
                <p class="label-text">HP</p>
                <p>{{vm.baseData.HP_IV}}</p>
            </div>
            <div class="col-xs-4">
                <p class="label-text">ATK</p>
                <p>{{vm.baseData.ATK_IV}}</p>
            </div>
            <div class="col-xs-4">
                <p class="label-text">DEF</p>
                <p>{{vm.baseData.DEF_IV}}</p>
            </div>
        </div>
        
        <div class="grey-border">
            <div class="col-xs-6">
                <p class="label-text">MAX HP</p>
                <p>{{vm.getMaxHP()}}</p>
            </div>
            <div class="col-xs-6">
                <p class="label-text">MAX CP</p>
                <p>{{vm.getMaxCP()}}</p>
            </div>
        </div>

        <div class="grey-border" ng-show="vm.evoData">
            <div class="col-xs-6">
                <p class="label-text">MAX HP ({{vm.evoData.name}})</p>
                <p>{{vm.getEvoMaxHP()}}</p>
            </div>
            <div class="col-xs-6">
                <p class="label-text">MAX CP ({{vm.evoData.name}})</p>
                <p>{{vm.getEvoMaxCP()}}</p>
            </div>
        </div>

        <div class="move-list">
            <div class="col-md-6 col-xs-12">
                <p class="label-text">Basic Moves</p>
                <div class="move-info grey-border {{vm.pokemonData.TYPE.indexOf(basic.TYPE) !== -1 ? 'stab' : ''}}" ng-repeat="basic in vm.pokemonData.MOVESET.BASIC">
                    <img class="move-type-img" ng-src="{{'./assets/img/types/' + basic.TYPE + '.png'}}"></img> <span class="capitalize-text"><b>{{basic.NAME.toLowerCase()}}</b></span><br/>
                    <div class="move-data text-center">
                        <div class="col-xs-4"><b>Power</b><br/>{{basic.POWER}}</div>
                        <div class="col-xs-4"><b>Duration(ms)</b><br/>{{basic.DURATION}}</div>
                        <div class="col-xs-4"><b>DPS</b><br/>{{(basic.POWER * 1000 / basic.DURATION).toFixed(2)}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="label-text">Charge Moves</p>
                <div class="move-info grey-border {{vm.pokemonData.TYPE.indexOf(charge.TYPE) !== -1 ? 'stab' : ''}}" ng-repeat="charge in vm.pokemonData.MOVESET.CHARGE">
                    <img class="move-type-img" ng-src="{{'./assets/img/types/' + charge.TYPE + '.png'}}"></img><span class="capitalize-text"><b>{{charge.NAME.toLowerCase()}}</b></span><br/>
                    <div class="move-data text-center">
                        <div class="col-xs-4"><b>Power</b><br/>{{charge.POWER}}</div>
                        <div class="col-xs-4"><b>Duration(ms)</b><br/>{{charge.DURATION}}</div>
                        <div class="col-xs-4"><b>DPS</b><br/>{{(charge.POWER * 1000 / charge.DURATION).toFixed(2)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>