<div id="calc-view" ng-controller="CalcController as vm">
    <div class="loader" ng-show="vm.showLoader">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="disclaimer alert alert-success">
        <h4>Updated movesets!</h4>
        Movesets have been updated with thew new post-Gen2 data! Also, The Advanced Data page now has info about the amount of energy awarded by a Fast Attack, and how many bars a Special Attack has.
    </div>
    <div class="disclaimer alert alert-danger" ng-show="vm.gameData.language === 'kr'">
        Hi! If you're playing in korean, I would really appreciate if you sent me the translations for your leader's appraisal lines! You can mail me on <i>nannesribeiro at gmail.com</i>. Thanks in advance!<br />
        <p style="text-align:right">- BoredMai</p>
    </div>
    <div class="row collapsible">
        <label>
            <a ng-click="vm.collapseInstructions = !vm.collapseInstructions">Instructions
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="vm.collapseInstructions"></span>
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!vm.collapseInstructions"></span></a>
        </label>
        <div class="col-md-12 col-sm-12" uib-collapse="vm.collapseInstructions">
            <div class="card card-block">
                <ul>
                    <li>Input your Pok&eacute;mon's name, CP and HP value.</li>
                    <li>Input how much Stardust your Pok&eacute;mon needs to Power Up.</li>
                    <li>If you already Powered Up your Pok&eacute;mon, check this to include half-levels.</li>
                    <li>Optionally, you can click a Team Logo to add Appraisal data. Select the correct phrases and check the boxes that correspond to your Pok&eacute;mon's highest stats based on your leader's appraisal.</li>
                    <hr />
                    <li>After calculating, you can refine your results by filling the extra fields that appear under the Calculate button with new data - either after an evolution, or powerup, or both - and then clicking Refine.</li>
                    <li>Also, you can tap/click a result to access advanced data about your Pok&eacute;mon.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <label>Pok&eacute;mon&nbsp;&nbsp;&nbsp;
                <a class="flag-link" ng-click="vm.switchLanguage('en')"><img ng-class="{'not-selected' : vm.gameData.language != 'en'}" src="assets/img/blank.png" class="flag flag-gb" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('de')"><img ng-class="{'not-selected' : vm.gameData.language != 'de'}" src="assets/img/blank.png" class="flag flag-de" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('fr')"><img ng-class="{'not-selected' : vm.gameData.language != 'fr'}" src="assets/img/blank.png" class="flag flag-fr" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('it')"><img ng-class="{'not-selected' : vm.gameData.language != 'it'}" src="assets/img/blank.png" class="flag flag-it" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('es')"><img ng-class="{'not-selected' : vm.gameData.language != 'es'}" src="assets/img/blank.png" class="flag flag-es" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('jp')"><img ng-class="{'not-selected' : vm.gameData.language != 'jp'}" src="assets/img/blank.png" class="flag flag-jp" /></a>
                <a class="flag-link" ng-click="vm.switchLanguage('kr')"><img ng-class="{'not-selected' : vm.gameData.language != 'kr'}" src="assets/img/blank.png" class="flag flag-kr" /></a>
                <input class="form-control" data-toggle="dropdown" ng-style="{'background':'no-repeat 0px -4px', 'padding-left':'40px', 'background-image': 'url(./assets/img/sprites/'+vm.backgroundImg+'MS.png)'}" ng-model="vm.pokemonName" type="text" ng-change="vm.filterList()" ng-focus="vm.inputHasFocus = true; vm.focusedItem = -1;" ng-blur="vm.inputHasFocus = false; vm.checkPokemonName()" ng-keydown="vm.checkDropdownNavigation($event)" />
                <ul class="dropdown-menu" ng-init="vm.focusedItem = -1" ng-show="vm.pokemonInputChanged && vm.inputHasFocus">
                    <li ng-repeat="p in vm.filteredList" ng-mouseover="vm.focusItem($index)" ng-class="{'active-item': vm.focusedItem == $index, 'inactive-item': vm.focusedItem != $index}"><a ng-mousedown="vm.selectPokemon(p)">{{p.name}}</a></li>
                </ul>
            </label>
            <button class="btn btn-link btn-more-info" ng-show="vm.pokemonName" ng-click="vm.moreInfo()" tabindex="-1">More information on {{vm.pokemonName}}</button>

        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <label>CP<input class="form-control" ng-model="vm.cp" type="number" placeholder="CP" /></label>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <label>HP<input class="form-control" ng-model="vm.hp" type="number" placeholder="HP" /></label>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <label>Stardust
                <select class="form-control" ng-model="vm.stardust" ng-change="vm.setRefineDustValues()">
                    <option ng-repeat="d in vm.gameData.dustValues" ng-value="$index">{{d}}</option>
                </select>
            </label>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 text-center">
            <label>Powered Up<img class="check-img" src="assets/img/pokeball.png" ng-class="{'not-selected' : !vm.isPoweredUp}" ng-click="vm.toggleCheck('isPoweredUp')" ng-keypress="vm.checkKeyboard('isPoweredUp', $event)" tabindex="0" /></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-4 text-center">
            <img src="assets/img/valor/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': vm.selectedTeam != vm.gameData.teams.valor}" ng-click="vm.selectTeam('valor');" ng-keypress="vm.teamKeyboard('valor', $event)" tabindex="0" />
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
            <img src="assets/img/mystic/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': vm.selectedTeam != vm.gameData.teams.mystic}" ng-click="vm.selectTeam('mystic');" ng-keypress="vm.teamKeyboard('mystic', $event)" tabindex="0" />
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
            <img src="assets/img/instinct/logo_150x150.png" class="toggle-img" ng-class="{'not-selected': vm.selectedTeam != vm.gameData.teams.instinct}" ng-click="vm.selectTeam('instinct');" ng-keypress="vm.teamKeyboard('instinct', $event)" tabindex="0" />
        </div>
    </div>
    <div class="row" ng-show="vm.selectedTeam">
        <div class="col-sm-6">
            <label>{{vm.selectedTeam.title}} <span ng-show="vm.pokemon">{{vm.pokemonName}}...</span><select class="form-control" ng-model="vm.overall" ng-options="o.text for o in vm.selectedTeam.overall"></select></label>
        </div>
        <div class="col-sm-6">
            <label>Stats Feedback<select class="form-control" ng-model="vm.stats" ng-options="s.text for s in vm.selectedTeam.stats"></select></label>
        </div>
        <div class="col-sm-4 col-sm-offset-4 stats-toggle">
            <div class="text-center">
                <label>HP
                    <img class="check-img" src="assets/img/pokeball.png" ng-class="{'not-selected' : !vm.highHP}" ng-click="vm.toggleCheck('highHP')" ng-keypress="vm.checkKeyboard('highHP', $event)" tabindex="0" />
                </label>
            </div>
            <div class="text-center">
                <label>ATK
                    <img class="check-img" src="assets/img/pokeball.png" ng-class="{'not-selected' : !vm.highATK}" ng-click="vm.toggleCheck('highATK')" ng-keypress="vm.checkKeyboard('highATK', $event)" tabindex="0" />
                </label>
            </div>
            <div class="text-center">
                <label>DEF
                    <img class="check-img" src="assets/img/pokeball.png" ng-class="{'not-selected' : !vm.highDEF}" ng-click="vm.toggleCheck('highDEF')" ng-keypress="vm.checkKeyboard('highDEF', $event)" tabindex="0" />
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 btn-container">
            <button class="btn btn-primary btn-lg btn-calc" href="#results" ng-click="vm.calculateIV()" ng-disabled="vm.disableCalc()">Calculate</button>
        </div>
    </div>
    <div class="refine">
        <div class="row collapsible" ng-init="vm.collapseRefine = true" ng-show="vm.showRefine()">
            <div class="row">
                <div class="col-sm-12 btn-container">
                    <button class="btn btn-success" ng-click="vm.collapseRefine = !vm.collapseRefine">Refine Results
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="vm.collapseRefine"></span>
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true" ng-show="!vm.collapseRefine"></span></button>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" uib-collapse="vm.collapseRefine">
                <div class="card card-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <label>Pok&eacute;mon
                                <select class="form-control" ng-model="vm.refine.number" ng-change="vm.selectRefinedPokemon()">
                                    <option ng-repeat="p in vm.refine.pokemonList | orderBy:number:true" ng-value="p.number">{{p.name}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <label>CP<input class="form-control" ng-model="vm.refine.cp" type="number" placeholder="CP" /></label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <label>HP<input class="form-control" ng-model="vm.refine.hp" type="number" placeholder="HP" /></label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <label>Stardust
                                <select class="form-control" ng-model="vm.refine.stardust">
                                    <option ng-value="vm.refine.dustValues[0]">{{vm.gameData.dustValues[vm.refine.dustValues[0]]}}</option>
                                    <option ng-value="vm.refine.dustValues[1]">{{vm.gameData.dustValues[vm.refine.dustValues[1]]}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                            <label>Powered Up<img class="check-img" src="assets/img/pokeball.png" ng-class="{'not-selected' : !vm.refine.isPoweredUp}" ng-click="vm.refine.isPoweredUp = !vm.refine.isPoweredUp" ng-keypress="vm.refineKeyboard($event)" tabindex="0" /></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 btn-container">
                            <button class="btn btn-success btn-lg btn-calc" ng-click="vm.refineIV()" ng-disabled="vm.disableRefine()">Refine</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error-message" ng-show="vm.calcData.results && vm.calcData.results.stats.length == 0"><big><b>Oops!</b></big>&nbsp;&nbsp;<small>There might be something wrong with your input.<span ng-show="!vm.isPoweredUp"> Try checking the "Powered Up" option to include half-level status.</span><br />If everything was correct, please <a href="mailto:nannesribeiro@gmail.com">email me</a> with attached prints from the game and the calculator so I can see what's wrong.</small></div>
    <div id="results" class="results" ng-show="vm.calcData.results && vm.calcData.results.stats.length > 0">
        <div class="row text-center">
            <h4>{{ vm.calcData.results.refine ? 'Refining' : 'Calculating' }} data for {{ vm.pokemonName }}</h4>
            <p><b>CP</b> {{ vm.cp }} | <b>HP</b> {{ vm.hp }} | <b>Stardust</b> {{ vm.gameData.dustValues[vm.stardust] }}</p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-4 text-center">
                <label>Min IV <p class="form-control-static">{{vm.calcData.results.minIV}}/45 ({{(vm.calcData.results.minIV/0.45).toFixed(1)}}%)</p></label>
            </div>
            <div class="col-sm-4 col-xs-4 text-center">
                <label>Avg IV <p class="form-control-static">{{vm.calcData.results.avgIV}}/45 ({{(vm.calcData.results.avgIV/0.45).toFixed(1)}}%)</p></label>
            </div>
            <div class="col-sm-4 col-xs-4 text-center">
                <label>Max IV <p class="form-control-static">{{vm.calcData.results.maxIV}}/45 ({{(vm.calcData.results.maxIV/0.45).toFixed(1)}}%)</p></label>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <a class="visible-xs-inline" ng-click="vm.setOrderByParams('level')">LVL</a>
                        <a class="hidden-xs" ng-click="vm.setOrderByParams('level')">Level</a>
                        <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="vm.orderParams == 'level' && vm.reverseResults"></span>
                        <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="vm.orderParams == 'level' && !vm.reverseResults"></span>
                    </th>
                    <th>
                        <a ng-click="vm.setOrderByParams('HP')">HP</a>
                        <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="vm.orderParams == 'HP' && vm.reverseResults"></span>
                        <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="vm.orderParams == 'HP' && !vm.reverseResults"></span>
                    </th>
                    <th>
                        <a class="visible-xs-inline" ng-click="vm.setOrderByParams('ATK')">ATK</a>
                        <a class="hidden-xs" ng-click="vm.setOrderByParams('ATK')">Attack</a>
                        <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="vm.orderParams == 'ATK' && vm.reverseResults"></span>
                        <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="vm.orderParams == 'ATK' && !vm.reverseResults"></span>
                    </th>
                    <th>
                        <a class="visible-xs-inline" ng-click="vm.setOrderByParams('DEF')">DEF</a>
                        <a class="hidden-xs" ng-click="vm.setOrderByParams('DEF')">Defence</a>
                        <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="vm.orderParams == 'DEF' && vm.reverseResults"></span>
                        <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="vm.orderParams == 'DEF' && !vm.reverseResults"></span>
                    </th>
                    <th>
                        <a class="visible-xs-inline" ng-click="vm.setOrderByParams('total')">%</a>
                        <a class="hidden-xs" ng-click="vm.setOrderByParams('total')">Total</a>
                        <span class="orderby glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-show="vm.orderParams == 'total' && vm.reverseResults"></span>
                        <span class="orderby glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show="vm.orderParams == 'total' && !vm.reverseResults"></span>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="r in vm.calcData.results.stats | orderBy:vm.orderParams:vm.reverseResults">
                <tr class="text-center" ng-click="vm.toggleRowAdvanced($index)">
                    <td>{{r.level}}</td>
                    <td>{{r.HP}}</td>
                    <td>{{r.ATK}}</td>
                    <td>{{r.DEF}}</td>
                    <td>{{r.total}}/45 ({{(r.total/0.45).toFixed(1)}}%)</td>
                </tr>
                <tr class="text-center" ng-show="vm.showAdvancedIndex === $index">
                    <td colspan="5">
                        <button class="btn btn-link" ng-click="vm.showAdvanced($index)">Advanced Data <span class="glyphicon glyphicon-triangle-right"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success btn-lg pull-right" ng-click="vm.exportData()">Export Data</button>
    </div>
</div>
